<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header"></div>
    <ul class="nav navbar-nav">
      <li>
        <%=	link_to  t('title'), reload_path(folder: '/Public'), remote: true, class: 'js-reload' %>
      </li>
    </ul>
  </div>
</nav>
