.container-fluid
.container-fluid
  .row
    .col-xs-2
      ul.list-unstyled
        li
          a.btn.js-dingle href="javascript:void(0);"  = t('action')
        li
          a.btn.js-dingle href="javascript:void(0);" = t('action')
        li
          a.btn.js-dingle href="javascript:void(0);" = t('action')
        li
          a.btn.js-dingle href="javascript:void(0);" = t('action')
    .col-xs-8
      #files
    .col-xs-2
      a.btn.btn-primary.js-dingle href="javascript:void(0);" = t('action')
