<tr class="hidden" id="e_r_{{this.id}}">
  <td colspan="4">
    <div class="btn-group">
      <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-arrow-circle-down"></i>
      </button>
      <ul class="dropdown-menu">
        <li><a class="js-dingle" href="javascript:void(0);">{{i18n 'action'}}</a></li>
        <li><a data-target="e_s_{{this.id}}" data-action="e_r_{{this.id}}" class="js-delete" href="javascript:void(0);">{{i18n 'delete'}}</a></li>
      </ul>
    </div>
  </td>
</tr>
