<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th> {{i18n 'name'}} </th>
      <th> {{i18n 'date'}} </th>
      <th> {{i18n 'size'}} </th>
    </tr>
  </thead>
  <tbody>
  {{#each this}}
    {{#each this.folders}}
      {{> folder this }}
    {{/each}}
    {{#each this.files}}
      {{> file this }}
    {{/each}}
  {{/each}}
  </tbody>
</table>
{{#ifnoeq this.data.level 1}}
  {{> button ../this.data}}
{{/ifnoeq}}
