<tr class="row-master" data-target="e_r_{{this.id}}" id="e_s_{{this.id}}">
  <td><input type="checkbox"></td>
  <td>{{name}}</td>
  <td>{{client_modified}}</td>
  <td>{{size}}</td>
</tr>
{{> actions this}}
