<tr class="row-master" data-target="e_r_{{this.id}}" id="e_s_{{this.id}}">
  <td><input type="checkbox"></td>
  <td><a data-target="{{path_display}}" data-remote="true" href="/reload?folder={{path_display}}" class="js-reload">{{name}}</a></td>
  <td></td>
  <td></td>
</tr>
{{> actions this}}
