<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'vendor', media: 'all' %>
  </head>
  <body>
    <div id="main">
      <%=	render 'shared/header' %>
      <div class="container">
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
    <%= javascript_pack_tag 'application'%>
    <%=	render_flash %>
  </body>
</html>
